.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: cadetblue;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 6px;
    text-decoration: none;
    /* background-color: red; */
}

.main-nav__item a:hover {    
    color: blue;
}

/* pseudo clase define estado de un elemento */

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: "  /  ";
}

/* pseudo elementos definin un elemento o que va a llevar */

